html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --fga: #262322;
  --fg: #63372C;
  --dateHex: #F2E5D7;
  --bga2: #C97D60;
  --bga: #FFBCB5;
  --bg: #F2E5D7;
  --bgImageUrl: url(../public/sunrise3.jpg);
}
