.body {
  min-height: 100vh;
  min-width: 100vw;
}
.bg {
  position: absolute;
  z-index: -1;
  background-image: var(--bgImageUrl);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.hello { 
  font-family: "Brush Script MT", "Brush Script Std", "cursive";
  background: linear-gradient(var(--fga), var(--fg));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
