.body {
  min-height: 100vh;
  min-width: 100vw;
}
.bg {
  position: absolute;
  z-index: -1;
  background-image: var(--bgImageUrl);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.hello { 
  font-family: "Brush Script MT", "Brush Script Std", "cursive";
  color: var(--fg);
  opacity: 0.8;
  font-size: 30vh;
  text-shadow: 1vh 1vh 1vh var(--bg);
}