.bg {
    position: absolute;
    z-index: -1;
    background-image: var(--bgImageUrl);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.date {
    font-size: 10vh;
    margin-top: 3rem;
    margin-left: 2.5vw;
    color: var(--dateHex);
    margin-bottom: 2rem;
    text-shadow: 2px 2px 2px rgba(255, 0, 0, 0.7);
}

.logArea {
    width: 95vw;
    height: 80vh;
    border: none;
    background-color: var(--bg);
    color: var(--fg);
    font-size: 2vh;
    resize: none;
    outline: none;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px var(--bga2);
    opacity: 0.5;
}
.logArea:focus {
    transition: opacity 700ms, box-shadow 700ms;
    box-shadow: 4px 4px 4px var(--bga2);
    opacity: 0.75;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
