/*styles for ../components/NavBar.tsx */

.navBar > ul {
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  list-style: none;
  gap: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3em;
  opacity: 0.7;
  font-weight: bold;
}

.navBar > ul > *:hover {
  color: var(--fg2);
}

